@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
        background: linear-gradient(
            -45deg,
            #ffffff,
            #eeeeee,
            #ffffff,
            #bbbbbb,
            #ffffff,
            #dddddd,
            #cccccc,
            #ffffff,
            #cccccc
        );
        background-size: 400% 400%;
        animation: gradient 18s ease infinite;
        height: 100vh;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    
}